.sendpdf-message {border-color: #656830;padding: 24px 12px;}
.sendpdf-message p {margin: 0 0 15px 0;padding: 0;}
.sendpdf-message .submit {margin: 0;}
.sendpdf-message .button-primary {background-color: #656830;border-color: #656830;}
.sendpdf-message .button-primary:hover {background-color: #656830;border-color: #656830;}