.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding-top: 5px;
    padding-bottom:  10px;
    overflow: hidden;
    width: 180px;
    /*margin-left: auto;*/
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #e4e4e4;
}
.switch-field-mini label {display:inline-block;text-align:center}
.switch-field-mini{font-family:"Lucida Grande",Tahoma,Verdana,sans-serif;overflow:hidden;margin-left:auto}
.switch-mini-title{margin-bottom:6px}
.switch-field-mini input{position:absolute!important;clip:rect(0,0,0,0);height:1px;width:1px;border:0;overflow:hidden}
.switch-field-mini label{float:left;width:40px;background-color:#e4e4e4;color:#333;font-size:12px;text-shadow:none;padding:0;border:1px solid rgba(0,0,0,.2);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out}
.switch-field-mini label:hover{cursor:pointer}
.switch-field-mini input:checked+label{-webkit-box-shadow:none;box-shadow:none;color:#e4e4e4}
.switch-field-mini label:first-of-type{border-radius:4px 0 0 4px}
.switch-field-mini label:last-of-type{border-radius:0 4px 4px 0}


.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.wpcf7-link a, a:hover {
    text-decoration: none!important;
    background-color: none!important;
}
.preview-btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  height: 25px;
}

.preview-btn:hover, a:hover {
  text-decoration: none;
}

#wpcf7pdfimgcreated { float:left;9px 0 15px;line-height: 29px; }
img.wpcf7pdfresponsive {
display: block;
max-width: 100%;
height: auto;
}
.wpcf7pdfclassname {
background-color:#848838;
-webkit-border-top-left-radius:10px;
-moz-border-radius-topleft:10px;
border-top-left-radius:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-topright:10px;
border-top-right-radius:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomright:10px;
border-bottom-right-radius:10px;
-webkit-border-bottom-left-radius:10px;
-moz-border-radius-bottomleft:10px;
border-bottom-left-radius:10px;
text-indent:0;
border:3px solid #656830;
display:inline-block;
color:#ffffff;
/*font-family:Arial;*/
font-size:15px;
font-weight:bold;
font-style:normal;
height:50px;
line-height:45px;
width:250px;
text-decoration:none;
text-align:center;
}.wpcf7pdfclassname:hover {
background-color:#656830;
color:#ffffff;
}.wpcf7pdfclassname:active {
position:relative;
top:1px;
color:#ffffff;
}
@media (max-width: 1024px) {
   table, tbody { display: block; }
   tr {
      display: table;
      width: 100%;
   }
   th {
      font-size: 0;
      border: none;
      visibility: hidden;
   }
   td, th { display: table-row; }
   td:before {
      content: attr(data-headers);
      display: table-cell;
   }
}
#wpcf7-bandeau {
    margin-left: 0px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
}
.postbox .hndle {
	padding: 5px 5px 15px 5px;
}
.postbox .hndle span {
font-size: 25px;
}
.postbox .hndle .postbox-title-action {
	font-size:12px;
	font-style:italic;
	padding-left:5px;
}
.inside {
	display: none;
}
.inside.openinside {
	display: block;
}
